<form action="/author/add" method="POST">
  <label for="name"></label>
  <input type="text" name="name" value="">
  <br>
  <label for="lastname"></label>
  <input type="text" name="lastname" value="">
  <br>
  <label for="nationality"></label>
  <input type="text" name="nationality" value="">
  <br>
  <label for="birthday"></label>
  <input type="text" name="birthday" value="">
  <br>
  <label for="pictureUrl"></label>
  <input type="text" name="pictureUrl" value="">
  <br>
  <button type="submit" name="button"></button>
</form>